.card {
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 375px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

element.style {
    background: green;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.elemento:hover {
    background-color: #c81238;
    color: white;
}

.nav-item.dropdown:hover .nav-link {
    background-color: #c81238;
    color: #fff;
    border-radius: 10px;
}

#valorEngajamento {
    font-size: 23px;
    font-weight: bolder;
}

#chartdiv {
    width: 90%;
    height: 325px;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.table thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#timeseriesChart .bb-region.discovery {
    fill: blue;
    font-family: Castellar;
    font-size: 20px
}

#timeseriesChart .bb-region.delivery {
    fill: orange;
    font-family: Castellar;
    font-size: 20px
}

#timeseriesChart .bb-region.done {
    fill: green;
    font-family: Castellar;
    font-size: 20px
}

#gaugeNeedle_1 .bb-chart-arcs-gauge-title tspan:first-child {
    font-size: 0.3em;
}

#gaugeNeedle_1 .bb-chart-arcs-gauge-title {
    transform: translateY(-80px);
    font-size: 3em;
}

#gaugeNeedle_1 .bb-gauge-value {
    font-family: Raleway, sans-serif;
}

/* Adicionando espaço entre os elementos e alinhando-os lado a lado */
.horas-card {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sendMailButton {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;
    font-weight: 200;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.sendMailButton:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .sendMailButton {
        padding: 10px 30px;
    }
}

h1 {
    font-weight: 500;
    font-style: normal;
    font-size: 70px !important;
    color: green !important;
    margin-left: 100px;
    margin-top: -89px !important;
}

h4 {
    margin-top: 10 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

h5 {
    color: grey !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium !important;
}

p {
    color: green !important;
    margin-left: 140px;
    margin-top: 37px !important;
}

.bb svg {
    font: 10px sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    overflow-x: hidden;
}

span.meutexto {
    color: red;
    font-family: 'Soccer Scoreboard', sans-serif;
    font-weight: 700;
    font-size: 28px !important;
}
 /* Estilo geral */
 .dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo do menu dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Estilo dos links dentro do dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Mostrar dropdown ao passar o mouse */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo para os links do dropdown ao passar o mouse */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.am5-layer-30 {
 height: 0px !important;
 width: 0px !important;
}
