.placa {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #f2f2f2; /* cor da placa */
    padding: 10px 20px;
    border: 2px solid #000; /* borda da placa */
    border-radius: 5px;
}

.mao {
    width: 30px; /* largura das mãos */
    height: 30px; /* altura das mãos */
    background-color: #ffcc00; /* cor das mãos */
    border-radius: 50%; /* formato redondo */
    position: relative;
}

.mao.esquerda {
    margin-right: 10px; /* espaço entre a mão esquerda e a placa */
}

.mao.direita {
    margin-left: 10px; /* espaço entre a mão direita e a placa */
}

#valorEngajamento {
    font-size: 23px;
    font-weight: bolder;
}

#timeseriesChart .bb-region.backlog {
    fill: gray;
    font-family: Castellar;
    font-size: 20px
}

#timeseriesChart .bb-region.discovery {
    fill: blue;
    font-family: Castellar;
    font-size: 20px
}

#timeseriesChart .bb-region.delivery {
    fill: orange;
    font-family: Castellar;
    font-size: 20px
}

#timeseriesChart .bb-region.done {
    fill: green;
    font-family: Castellar;
    font-size: 20px
}

#gaugeNeedle_1 .bb-chart-arcs-gauge-title tspan:first-child {
    font-size: 0.3em;
}

#gaugeNeedle_1 .bb-chart-arcs-gauge-title {
    transform: translateY(-80px);
    font-size: 3em;
}

#gaugeNeedle_1 .bb-gauge-value {
    font-family: Raleway, sans-serif;
}

/* Adicionando espaço entre os elementos e alinhando-os lado a lado */
.horas-card {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ajustando o alinhamento do texto das horas */
.horas-card .meutexto {
    display: block;
    margin-top: 10px;
    /* Espaço entre os elementos */
    text-align: center;
    /* Centraliza o texto */
}

.sendMailButton {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;
    font-weight: 200;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.sendMailButton:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .sendMailButton {
        padding: 10px 30px;
    }
}

h1 {
    font-weight: 500;
    font-style: normal;
    font-size: 70px !important;
    color: green !important;
    margin-left: 100px;
    margin-top: -89px !important;
}

h4 {
    margin-top: 10 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

h5 {
    color: grey !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium !important;
}

p {
    color: green !important;
    margin-left: 140px;
    margin-top: 37px !important;
}

.bb svg {
    font: 10px sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    overflow-x: hidden;
}

span.meutexto {
    font-family: 'Orbitron', sans-serif;
    font-weight: 650;
    font-size: 23px !important;
}

.list-unstyled {
    list-style-type: none;
    /* Remove os marcadores de lista */
    padding-left: 0;
    /* Remove o recuo padrão da lista */
}

#piechart {
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .row {
    flex-grow: 1;
}

.table-purple {
    background-color: #0076d4;
    color: white;
}

.table-purple th,
.table-purple td {
    border-color: #0076d4;
}

.table-purple thead th {
    background-color: #0076d4;
}